backend:
  name: github
  repo: FTWinston/bvp

media_folder: static/uploads
public_folder: uploads
site_url: "https://www.bvp.org.uk"

collections:
  - name: section
    label: Home page sections
    label_singular: Home page section
    description: "The main page includes all sections listed here, ordered by their Sort Order property."
    summary: "{{order}} - {{title}}"
    folder: content/sections
    create: true
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
      - { name: image, label: Image, widget: image, required: false }
      - { name: order, label: "Sort order", widget: number, valueType: int }
      - { name: buttons, label: "Buttons", widget: list, fields: [
            { name: text, label: Text, widget: string },
            { name: target, label: "Target URL or ID", widget: string }
          ]
        }
  - name: page
    label: Pages
    label_singular: Page
    description: "The address of a page is its title, with spaces replaced with dashes. Remember to link to a page (e.g. from the main page), or nobody will find it."
    folder: content/pages
    create: true
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
      - name: functionality
        label: "Special functionality"
        widget: select
        options: ["list magazines", "list who's who"]
        required: false
  - name: magazine
    label: "Magazine"
    description: "Magazines are listed on the archive page, and the most-recently dated one is accessible from the main page."
    folder: content/herald
    create: true
    fields:
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: pdf, label: PDF, widget: file }