backend:
  name: github
  repo: FTWinston/bvp

media_folder: static/uploads
public_folder: uploads

collections:
  - name: section
    label: Home page sections
    label_singular: Home page section
    folder: content/sections
    create: true
    fields:
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
      - { name: image, label: Image, widget: image, required: false }
      - { name: order, label: "Sort order", widget: number, valueType: int }
      - { name: buttons, label: "Buttons", widget: list, fields: [
            { name: text, label: Text, widget: string },
            { name: target, label: "Target URL or ID", widget: string }
          ]
        }
  - name: page
    label: Pages
    label_singular: Page
    folder: content/pages
    create: true
    fields:
      - { name: title, label: Title }
      - { name: order, label: "Sort order", widget: number, valueType: int }
      - { name: body, label: Body, widget: markdown }
  - name: article
    label: Articles
    label_singular: Article
    folder: content/articles
    create: true
    fields:
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
  - name: magazine
    label: "Magazine"
    folder: content/herald
    create: true
    fields:
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: pdf, label: PDF, widget: file }
  - name: fixed
    label: "Fixed pages"
    label_singular: "Fixed page"
    files:
      - file: "content/fixed/intro.md"
        label: "Main page intro"
        name: "intro"
        fields:
          - {label: Body, name: body, widget: markdown}
          - { name: buttons, label: "Buttons", widget: list, fields: [
              { name: text, label: Text, widget: string },
              { name: target, label: "Target URL or ID", widget: string }
            ]
          }
      - file: "content/fixed/herald.md"
        label: "Herald page"
        name: "herald"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: markdown}
      - file: "content/fixed/articles.md"
        label: "Articles page"
        name: "articles"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: markdown}
          - label: Contact Entries
            name: contact_entries
            widget: list
            fields:
              - label: Heading
                name: heading
                widget: string
              - label: Text
                name: text
                widget: text