.recording {
    display: inline-block;

    & + * {
        margin-top: 2rem;
    }
}

.recording__caption {
    text-align: center;
}

.recording__title {
    color: #003057;
}

.recording__audio {
   width: 100%;
}